.masthead {
  position: relative;
  width: 100%;
  height: auto;
  min-height: 35rem;
  padding: 15rem 0;
  background: linear-gradient(to bottom, rgba(255, 0, 0, 0.3) 0%, rgba(22, 22, 22, 0.7) 75%, #161616 100%), url("../img/bg-masthead-2.png");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
}

.masthead h1 {
  font-family: 'Varela Round';
  font-size: 2.5rem;
  font-weight: 200;
  line-height: 2.5rem;
  letter-spacing: 0.8rem;
  text-shadow: 5px 2px 5px rgba(110, 7, 7, 0.8);
  background: -webkit-linear-gradient(rgb(124, 20, 20), rgba(206, 39, 39, 0.5));
  
  -webkit-text-fill-color: transparent;
  /* text-shadow: 2px 2px rgba(0, 0, 0, 0.169); */
  -webkit-background-clip: text;
}

.masthead h2 {
  max-width: 20rem;
  font-size: 1rem;
}

@media (min-width: 768px) {
  .masthead h1 {
    font-size: 4rem;
    line-height: 4rem;
  }
}

@media (min-width: 992px) {
  .masthead {
    height: 100vh;
    padding: 0;
  }
  .masthead h1 {
    font-size: 6.5rem;
    line-height: 6.5rem;
    letter-spacing: 0.8rem;
  }
  .masthead h2 {
    max-width: 30rem;
    font-size: 1.25rem;
  }
}

.btn {
  box-shadow: 0 0.1875rem 0.1875rem 0 rgba(0, 0, 0, 0.1) !important;
  padding: 1.25rem 2rem;
  font-family: 'Varela Round';
  font-size: 80%;
  text-transform: uppercase;
  letter-spacing: .15rem;
  border: 0;
}

.btn-primary {
  background-color: rgba(121, 46, 46, 0.244);
}

.btn-primary:hover {
  background-color: rgb(255, 0, 230);
}

.btn-primary:focus {
  background-color: rgb(255, 0, 230);
  color: white;
}

.btn-primary:active {
  background-color: #000000 !important;
}

body {
  font-family: 'Nunito';
  letter-spacing: 0.0625em;
}

a {
  color: #ffffffe1;
}

a:focus, a:hover {
  text-decoration: none;
  color: #ffffffbb;
}

.bg-black {
  background-color: #161616 !important;
}

.bg-primary {
  background-color: #64a19d !important;
}

.text-primary {
  color: #64a19d !important;
}

footer {
  padding: 5rem 0;
}
